<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>About Affaan</title>
</head>
<body style="background-color:#ffd692">
{% block content %}
    <div id=about class="site-section">
        <br>
        <center>
            <h1>About Back-End Lead, Affaan Ghazzali</h1>
        </center>
        <div class="row">
            <div class="text-center">
                <center>
                    <img class="profile-img" src="../static/image/agPic.jpg" width="185"/> <br>
                    <p>Affaan is the leader in charge of organizing Team 2's back-end efforts in the application!</p>
                    <p>Hi Everyone, my name's Affaan Ghazzali, I am a fourth year Computer Science major,
                        with a Mathematics minor, graduating this semester! Over the past three and a half years, I
                        have learned a lot about Software Engineering both at SFSU and in industry as well. That being
                        said, I am pretty terrified of the task ahead of us this semester, as all of my internships and
                        my personal interests really lie in the Data Science and Computational fields of Computer
                        Science,
                        so Web Development is not really my forte. That being said, I'm pretty killer with Python and
                        have
                        a great team around me so I am excited to see what this semester holds!
                    </p>
                    <h2>Here's Some Of The Cool Stuff I've Been Apart Of:</h2>
                    <ul>
                        <li>
                            Software Engineering Intern, System Design @ Western Digital
                        </li>
                        <li>
                            Software Engineering Intern, Cloud Platform @ MobileIron
                        </li>
                        <li>
                            Treasurer of ACM @ SFSU
                        </li>
                        <li>
                            Product Manager, HPW @ SFSU
                        </li>
                        <li>
                            Assistant Lecturer, CS Department @ SFSU
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>