<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <!-- The link is an outside source to grab the icons of social media companies-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="../static/stylesheets/edmund.css">
    <meta charset="utf-8">
    <title>About Edmund</title>
</head>
<body class="entireBackground">

<div class="cardProfile">
    <img src="../static/image/edmund.jpeg" alt="Profile Picture of Edmund" style="width:100%">
    <h1 class="headerName">Edmund-Russell Manzano</h1>
    <p class="title">Back-End Team Member</p>
    <p></p>
    <p>San Francisco State University</p>
    <div class="linkContent">

        <a href="https://www.linkedin.com/in/edmund-russell-manzano-74766a1a6/" target="_blank">
            <i class="fa fa-linkedin" style="color:#2171B3;font-size:25px"></i></a>
        <a href="https://github.com/edmundzano" target="_blank">
            <i class="fa fa-github" style="color:#2171B3;font-size:25px"></i></a>
    </div>
</div>

<div class="aboutBlock">
    <h2 class="headerName">About Me</h2>
    <p class="aboutParagraph">Hello, my name is Edmund. I am a graduating senior at San Francisco State
        University, majoring in Computer Engineering.
        I am interested in many different fields related to Computer Science/Engineering such as cryptocurrency, mobile
        apps, game development, and medical related projects. In the future, I look forward to working for a company
        that
        share the same values as I do and help me grow as a software developer.
        Outside of school, I enjoy playing basketball, volleyball, watching movies/TV shows, traveling places with my
        family and my girlfriend, reading comic books, and collect sneakers.
    </p>
</div>

<div class="aboutBlock">
    <h2 class="headerName">Education</h2>
    <p><img src="../static/image/education.png" width="700px"></p>
</div>

<div class="aboutBlock">
    <h2 class="headerName">Programming Languages</h2>
    <p><i>Proficient in:</i> <b>Java, C, HTML/CSS</b></p>
    <p><i>Familiar in:</i> <b>Python, Swift, Verilog</b></p>
</div>

<div class="aboutBlock">
    <h2 class="headerName">Projects</h2>
    <ul style="list-style-type: none">
        <li>
            <h3 class="headerName">Matrix Multiplication</h3>
            <p>This is a Java program that multiplies a square matrix in three different ways:
                classical, divide and conquer, and Strassen's method. The purpose of this program is to
                analyze the average running time of each of the algorithms.
            </p>
            <p style="text-align: center"><img src="../static/image/matrix1.png" width="285px">
                <img src="../static/image/matrix2.png" width="400px"></p>
        </li>

        <li>
            <h3 class="headerName">Super Rainbow Reef</h3>
            <p>This is a 2D platform game that is similar to the Brick Breaker game. This program was developed in Java,
                the goal of the project was to help students practice the important concepts of Object Oriented
                Programming.</p>
            <p style="text-align: center"><img src="../static/image/RainbowReef.png" width="600px"></p>
        </li>

        <li>
            <h3 class="headerName"><a href="https://sites.google.com/view/fitapp-repcounter/home" target="_blank">Hercules
                Fitness App</a>
            </h3>
            <p>For our engineering capstone project, my group and I are currently working on an iOS application that
                provide
                users a way to effectively and efficiently execute workouts at home. We are using the main sensors of an
                iPhone to count the repetitions of home workouts such as pull-ups, push-ups, sit-ups, and more.
            </p>
            <p style="text-align: center"><img src="../static/image/fitnessApp.png" width="650px"></p>
        </li>

    </ul>
</div>


</body>
</html>

