<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>About Erik</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/erik.css">
</head>
<body>
<div class="navbar-site">
    <a href="https://github.com/SaintGemini" target="_blank">Github</a>
    <a href="https://saintgemini.com" target="_blank">Personal Website</a>
</div>
<div id=about class="site-section">
    <br>
    <div style="text-align: center;">
        <h1>About Github Master, Erik Chacon</h1>
        <img class="profile-img" src="../static/image/silhouette.jpg" width="185"/> <br>
    </div>
    <div class="row">
        <div class="text-center">
            <div style="text-align: center;">
                <p>Erik is the secretary in charge of organizing Team 2's work in Github!</p>
                <p>
                    I'm in my last year at San Francisco State University as a computer science major.
                    I started programming as a hobby when I was 19 and immediately switched my major. My favorite
                    languages to program in are C/C++ but i'm also proficient in Java and Python. I've been cooking
                    and working part time jobs to support myself through school and I hope to one day work for NASA
                    or SpaceX.
                </p>
                <br><br>
                <h1>Projects</h1>
                <h2>File System</h2>
                <p>Most SFSU students know the <a href="https://github.com/SaintGemini/FileSystem" target="_blank">Linux
                    based file system</a> project from CSC 415 and hated it.
                    I thought it was one of the most interesting projects i've worked on because it showed me
                    how little I knew about something I use everyday. I will never take copy and paste command
                    for granted again.
                </p>
                <h2>Manly P. Hall Collection</h2>
                <p>
                    The Manly P. Hall collection is a project that will last most of my life.
                    I want to collect and preserve all of the philosophers work. For a more detailed
                    explanation, <a href="https://saintgemini.com/hall.html" target="_blank">click here.</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
